@charset "UTF-8";
//配置
//大小
$px1:0.02rem;
$px14:$px1*14;
$px15:$px1*15;
$px20:$px1*20;
$px25:$px1*25;
$px30:$px1*30;
//字体
$font-color:#333;
$font-color-dark:#000;
$font-color-light:#666;
$font-size-default:$px14; //默认字体大小
//颜色
$color-orange:#fe5848;
$color-orange-light:#f37938;
$color-gray:$font-color-light;
$color-background:#f7f7f7;
$color-header-background:$color-orange-light; //头部背景颜色
$color-button-background:$color-orange-light; //按钮背景颜色
$color-button-disabled-background:#ccc; //按钮失效状态背景颜色
$color-placeholder:#b2b2b2; //input placeholder 颜色
$color-border:#dcdcdc; //边线颜色
$color-border-light:#e7e7e7; //边线颜色 淡
//重置
* {
    -moz-user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

b,
strong {
    font-weight: 700;
}

small {
    font-size: 80%;
}

svg:not(:root) {
    overflow: hidden;
}

hr {
    box-sizing: content-box;
    height: 0;
}

textarea {
    overflow: hidden;
}

a {
    background: 0 0;
    &:active,
    &:hover {
        outline: 0;
    }
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

//placeholder 类必须分开写
.input-placeholder {
    color: $font-color;
    font-size: $font-size-default;
    text-align: left;
}

*::-webkit-input-placeholder {
    //webkit
    @extend .input-placeholder;
}

*::-moz-placeholder {
    //firefox
    @extend .input-placeholder;
}

*:-ms-input-placeholder {
    //ie
    @extend .input-placeholder;
}

//scrollbar
//定义滚动条宽高及背景 宽高分别对应横竖滚动条的尺寸
::-webkit-scrollbar {
    display: none;
}

//定义滚动条轨道 内阴影与圆角
::-webkit-scrollbar-track {}

//定义滚动条滑块 内阴影与圆角
::-webkit-scrollbar-thumb {}

//vue
//transition 组件 过渡效果
//.fade-enter 页面准备激活
//.fade-enter-active 页面激活
//.fade-leave 页面准备丢弃
//.fade-leave-active 页面丢弃
.fade-enter-active {
    transition: all .5s ease;
}

.fade-enter,
.fade-leave,
.fade-leave-active {
    opacity: 0;
}

//公共
.header {
    &+.container {
        padding-top: 1rem;
    }
}

.container {
    padding-left: $px15;
    padding-right: $px15;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.placeholder-left {
    @extend .text-left;
    &::-webkit-input-placeholder {
        @extend .text-left;
    }
    &::-moz-placeholder {
        @extend .text-left;
    }
    &:-ms-input-placeholder {
        @extend .text-left;
    }
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.hide,
[hide],
[hidden] {
    display: none !important;
}

.text-indent-2 {
    text-indent: 2em !important;
}

.text-indent-0 {
    text-indent: 0 !important;
}

.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text-ellipsis-2 {
    display: -webkit-box;
    overflow: hidden;
    white-space: normal !important;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}